:root{
    --aside-title: 1rem;
    --aside-size: .9rem;

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:"Proxima Nova",Arial,sans-serif,sans-serif
}

header{
  
    background-color: #ffe600;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-inline: 3%;
    padding-block: .7rem;

}

header img{
    width: auto;
    height: 2.4rem;
}

.box-1{
    padding-right: 2.4rem;
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
}

.enviar{
    display: flex;
    justify-content: start;
    align-items: flex-end;
    height: 3rem;
}

.enviar img{
    width: 1.3rem;
}

.dire{
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    align-items: start;
}

.box-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: .9rem;
    width: fit-content;
    height: 5.2rem;
    padding-right: 7rem;

}

.search{
    display: flex;
    border: 1px solid #ccc;
    color: #ccc; 
    justify-content: space-around;
    align-items: center;
    bold
}

.search-box { 
    min-width: 33.2rem; 
    height: 2.5rem;
    padding-inline: 1rem;
    border: 1px solid white;
    border-right: none;
    color: #ffffff;
}
.search-button { 
    height: 2.3rem;
    padding-inline: 1rem;
    border: 1px solid white;
    border-left: none;
    color: #ccc;
    background-color: white
}
  
.cate{
    padding-top: .9rem;
    min-width: 35rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.subs{
    display: flex ;
    align-items: center;
    padding-top: .5rem;

}

.sub{
    display: flex;
    width: fit-content;
    background: linear-gradient(90deg, rgba(74,22,149,1) 0%, rgba(199,0,200,1) 100%);
    border-radius: 20px;
    padding: .6rem;
    min-width: fit-content;
    font-size: .8rem;
    align-items: end;
    color: white;
}

.login{
    font-size: .9rem;
    min-width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
} 

.login img{
    width: 1.7rem;
    
} 

#ofertas{
    display: flex;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2rem;
    justify-content: start;
}

.hidden{
    width: 58.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ofertas{
    padding-inline: 18%;
    grid-area: section;
    background-color: #fff;
    height: 9rem;
}

.hidden-content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
}

.hidden img{
    width: 3rem;
    height: 3rem; 
}

/* algo que separe */

main {

    width: 100%;
    height: 100vh;
    padding-inline: 18%;
    display: grid;
    grid-template-areas: 
    "aside article article article"
    "aside article article article"
    "aside article article article"
    "aside article article article"
    "footer footer footer footer" ;
    background-color: #e7e7e7;

}

aside {
    grid-area: aside;
    width: 18rem;
    background-color: gray;
}



article {
    width: fit-content;
    grid-area: article;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat (9, 1fr) ;
    gap: 1rem;
    padding: 1rem;
    padding-top: 2rem;
 
}

.artdiv {
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.07);
/*     display: flex; */
    text-decoration: none;
}

.artdiv img{
    width: 284px;
    height: auto;
    border-radius: 8px;
}

.pad{
    margin-inline: 1rem;
}

.ofer{
   margin-block: 1rem;
    color: white;
    width: fit-content;
    background-color: #1f72f8;
    padding: .3rem;
    border-radius: 3px;
}

.title{
    font-size: .85rem;
    padding-bottom: 1rem;
}
.oldprice{
    font-size: .7rem;
    text-decoration: line-through;
    color: grey;
}

.newprice{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

.off{
    font-size: .7rem; 
    color: #00a650;
}

.cuots{
    font-size: .9rem;
    color: #00a650;
    padding-bottom: 1rem;
}

.send{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 1rem;
    font-weight: bolder;
    color: #00a650;
    font-size: .73rem;
}

.mañana{
    background-color: #e7e7e7;
    margin-right: .5rem;
    padding: .15rem;
    border-radius: 3px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/* -----------------asidee */

aside{
    display: flex;
    flex-direction: column;
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem;
    background-color: white;
    border-radius: 4px;
    margin-block: 2rem;
    

}

.full{
    width: auto;
    height: 1rem;

}


footer {
    grid-area: footer;
    background-color: goldenrod;
}





