*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:"Proxima Nova",Arial,sans-serif,sans-serif
}
header{
  
    background-color: #ffe600;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-inline: 18%; */

}

header img{
    width: auto;
    height: 2.4rem;
}

.box-1{
    padding-inline: 2rem;
    background-color: blueviolet;
    display: flex;
    width: fit-content;
    flex-direction: column;
/*     flex-grow: 1; */
    align-items: start;

}

.enviar{
    background-color: aqua;
    display: flex;
    justify-content: start;
    align-items: center;
}

.dire{
    background-color: azure;
    display: flex;
    flex-direction: column;
}

.box-2{
    padding-inline: 2rem;
    background-color: rgb(226, 43, 119);
    display: flex;
    flex-direction: column;
    align-items: start;
/*     flex-grow: 2; */
    justify-content: center;
    font-size: .9rem;
    height: fit-content;
}

header div form{
    background-color: blue;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
 

}

.cate{
    background-color: tomato;
    padding-top: .9rem;
}

.box-3{
    padding-inline: 2rem;
    background-color: rgb(43, 226, 89);
    display: flex;
    flex-direction: column;
    align-items: end;
/*     flex-grow: 1; */
    justify-content: space-between;

}

.subs{
    background-color: burlywood;
    display: flex ;
    align-items: center;
    padding-top: .5rem;

}

.sub{
    width: fit-content;
    background-color: blueviolet;
    border-radius: 20px;
    padding: .6rem;
    min-width: fit-content;
    font-size: .8rem;
    align-items: end;
}

.login{
    background-color: cornflowerblue;
    font-size: .9rem;
} 

.login img{
    background-color: cornflowerblue;
    font-size: .9rem;
    
} 